* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .todo{
    padding: 20px 20px 20px 20px;
    background: rgb(207, 239, 243);
  }
  #todo_container {
    max-width: 1200px; 
    padding: 0 15px;
    margin: 20px auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #d0c9c9;
    border: 2px solid rgb(54, 53, 53);
    border-radius: 10px;
  }
  .todo__input-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 30px;
  }
  .todo__input-delBtn{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #282626;
    background-color: #599d7d;
    border: 1px solid black;
    width: 100%;
    max-width: 130px;
    padding: 5px;
    border-radius: 5px;
  }
  #todo__input-inp{
    border: 1px solid black;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
  }
  #todo__input-addBtn{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #282626;
    background-color: #599d7d;
    border: 1px solid black;
    width: 100%;
    max-width: 130px;
    padding: 5px;
    border-radius: 5px;
  }
  .todo__list{
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .todo__list-item{
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  .todo__list-item--checked{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #282626;
    background-color: #599d7d;
    border: 1px solid black;
    width: 100%;
    max-width: 50px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .todo__list-item--par{
    width: 100%;
    border: 1px solid #e7f0ec;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #282626;
    background-color: #e7f0ec;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .todo__list-item--wrap{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: flex-end;
  }
  .todo__list-item--cancel{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #282626;
    background-color: #599d7d;
    border: 1px solid black;
    width: 100%;
    max-width: 50px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
.todo__list-item--date{
  width: 100%;
  display: inline-block;
  border: 1px solid #e7f0ec;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 18px;
  color: #282626;
  background-color: #e7f0ec;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}




  

